
*{
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}
.banner{
  background-image: url('./images/banner/banner2.png');
  height: 800px;
  text-align: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 130px;
}
.banner-container{
  margin-left: 845px;
  margin-right: 200px;
  padding-top: 215px;
  
}
.banner-container .banner-title{
  color: #1f0202;
  font-size: 65px;
  font-weight: 700px;
  margin-bottom: 25px;
  font-style: bold;
  line-height: 76px;
  line-height: 100%;
  text-align: right;
  vertical-align: top;
}
.banner-container .banner-description{
  color: #310000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
 line-height: 26px;
 line-height: 139%;
 vertical-align: top;
}
.btn-primary{
  color: rgb(255, 255, 254);
  font-size: 20px;
  background-color: rgb(255, 0, 0);
  font-weight: 600;
  height: 64px;
  padding: 20px 25px;
  border: 1px solid rgb(255, 218, 10);
  border-radius: 5px;
  box-shadow: 10px 10px 10px gray;
  cursor: pointer;
}
.btn-primary:hover{
  transform: scale(1.1);
  background-color: #1100ff;
}

main {
  padding: 0 208px;
}

/* styles failures section */
.failures-container {
  display: flex;
  gap: 85px;
  align-items: center;
  margin-right: 40px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 15px;
}

.failures-details {
  padding-top: 125px;
}

.failures-details .failures-title {
  font-weight: 700;
  color: #080101;
  font-size: 50px;
  margin-bottom: 20px;
}

.failures-details .failures-description {
  color: #3b1b1b;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 380;
}

.failures-details ul li::before {
  content: '\2914\020';
  color: #16d887;
}

.failures-details ul li {
  margin-bottom: 8px;
  list-style: none;
  color: #050000;
  font-size: 18px;
  font-weight: 400;
}
/* skills section styles */
.skills-container {
  display: flex;
  gap: 24px;
}
.section-title{
  font-weight: 800;
  margin-top: 58px;
  align-items: center;
  text-align: center;
  margin-bottom: 58px;
  font-size: 45px;
}
.skill {
  background-color: #FFFFFF;
  box-shadow: 10px 10px 10px gray;
  border-radius: 10px;
  padding: 30px;
  cursor: pointer;
}
.my-skills :hover{
  background-color: none;
  color: rgb(25, 0, 255);
  transition: all 0.25s ease-in;
  transform: scale(1.05);
  border: 2px solid rgba(255, 0, 212, 0.5);
  box-shadow: 0.8px 12px 0 rgba(110, 110, 110, 0.5);
}
.skill-title {
  font-weight: 800;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}
/* plan section styles */

.plan-container {
  text-align: center;
  margin-bottom: 130px;
  cursor: pointer;
}
.plan-container .plan-items:hover{
  background-color: orange;
  color: white;
  transition: all 0.25s ease-in;
  transform: scale(1.05);
  border: 1px solid rgba(0, 33, 248, 0.5);
  box-shadow: 0.8px 12px 0 rgba(0, 0, 0, 0.5);
}

.plan-types {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.plan-items img {
  margin-bottom: 22px;
}

.plan-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin: 130px 0 50px 0;
}

.plan-sub-title {
  color: #151414;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

.plan-description {
  color: #737272;
  font-size: 25px;
  font-weight: 500;
}

/* this is blending image section  */
.blending-image {
  height: 250px;
  background-image: url('./images/gradient1.png'), url('./images/watch.png'), linear-gradient(rgba(199, 0, 218, 0.9), rgba(163, 4, 4, 0));
  background-blend-mode: overlay;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 10px 10px 10px gray;
  background-repeat: no-repeat;
}

.blending-image-container {
  padding: 55px 0 0 65px;
}

.blending-image-title {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 25px;
}

/* information footer styles */
.information {
  height: 560px;
  margin-top: 90px;
  background-color: #050000;
  margin-top: 90px;
}

.contact-details {
  margin-top: 130px;
  margin-left: 200px;
}

.contact-container {
  display: flex;
  gap: 330px;
  align-items: center;
}

.contact-title {
  color: #F8F8F8;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}

.contact-description {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.contact-email {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contact-phone {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 35px;
}

.contact-details a {
  margin-right: 20px;
}
/* subscription styles */
.subscription-container {
  margin-right: 230px;
  /* border: 2px solid green; */
}

.subscription-title {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.subscription-container form input[type="text"] {
  width: 325px;
  height: 65px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #151414;
  border: 1px solid white;
  color: white;
  padding-left: 20px;
}

.subscription-container form input::placeholder {
  color: #F3F3F3;
  font-weight: 400;
  font-size: 18px;
}

.subscription-container form input[type="submit"] {
  height: 65px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 35px;
  background-color: #eb0000;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 3px 3px gray;
}

.subscription-container form input[type="submit"]:hover {
  transform: scale(1.1);
  background-color: #1100ff;
}
