
*{
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}
.banner{
  background-image: url('./images/banner/banner2.png');
  height: 800px;
  text-align: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 130px;
}
.banner-container{
  margin-left: 845px;
  margin-right: 200px;
  padding-top: 215px;
  
}
.banner-container .banner-title{
  color: #1f0202;
  font-size: 65px;
  font-weight: 700px;
  margin-bottom: 25px;
}
.banner-container .banner-description{
  color: #552929;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn-primary{
  color: orange;
  font-size: 20px;
  background-color: blue;
  font-weight: 600;
  height: 64px;
  padding: 20px 25px;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  box-shadow: 10px 10px 10px gray;
}
